.app-container {
    display: flex;
    .vending-machine-wrapper {
        flex: 1;
    }
    .automaton-wrapper {
        flex: 2;
        margin-left: 100px;
    }
    .member-container {
        li {
            margin-left: 20px;
        }
    }
    .member {
        display: inline; 
        font-weight: normal;
    }
}
